/* Section A Screen Style */
body {
  background-color: aliceblue;
  display: flex;
  justify-self: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  background: linear-gradient(#7c3aed, #2563eb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-colour: transparent;
  color: transparent;
  font-family: "Acme", sans-serif;
  animation: move 5s linear infinite;
  font-weight: 400;
}

@keyframes move {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 300%;
  }
}

/* Section B Screen Style */
.slide-pg-1 {
  background-color: #f8fafc;
}
.slide-pg-1 p {
  justify-self: right;
  width: 68px;
  height: 48px;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.slide-pg-1 .container {
  display: flex;
  width: 1063px;
  height: 434px;
  gap: 110px;
}
.slide-pg-1 .container img {
  width: 434px;
  height: 434px;
  border-radius: 5px;
}
.slide-pg-1 .container .final-container h3 {
  width: 519px;
  height: 58px;
  font-weight: 600;
  font-size: 48px;
  font-family: "Inter", sans-serif;
}
.slide-pg-1 .container .final-container p {
  width: 519px;
  height: 96px;
  font-weight: 400;
  font-size: 40px;
  font-family: "Inter", sans-serif;
}
.slide-pg-1 .container .final-container button {
  border-radius: 40px;
  width: 300px;
  height: 80px;
  justify-content: space-between;
  background: linear-gradient(45deg, #7c3aed, #2563eb);
  color: #ffffff;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
}
